@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top_left_corner::after {
  content: " ";
  width: 110px;
  height: 110px;
  position: absolute;
  top: -108px;
  left: 0%;
  background: rgb(0, 0, 0);
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

.bottom_right_corner::after {
  content: " ";
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: -1px;
  right: 0%;
  overflow: hidden;

  background: linear-gradient(
      rgba(246, 246, 246, 0.93),
      rgba(246, 246, 246, 0.93),
      rgba(246, 246, 246, 0.93)
    ),
    url("https://i.ibb.co.com/237nYWrd/back-acheivement.png");
  background-repeat: no-repeat;
  background-position: cover;
  clip-path: polygon(100% 0%, 100% 100%, 0 100%);
}
.bottom_right_corner::before {
  content: " ";
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: -1px;
  right: 0%;
  background: linear-gradient(
      rgba(246, 246, 246, 0.93),
      rgba(246, 246, 246, 0.93),
      rgba(246, 246, 246, 0.93)
    ),
    url("https://i.ibb.co.com/237nYWrd/back-acheivement.png");
  background-repeat: no-repeat;
  background-position: cover;
  clip-path: polygon(100% 0%, 100% 100%, 0 100%);
}

@media (max-width: 1400px) {
  .top_left_corner::after {
    content: " ";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0%;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  }

  .bottom_right_corner::after {
    content: " ";
    width: 50px;
    height: 50px;
  }
  .bottom_right_corner::before {
    content: " ";
    width: 50px;
    height: 50px;
  }
}
